body {
  background-color: #421983;

  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
}
.main-container {
  width: 1200px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.text-section {
  color: white;
  width: 450px;
}
.text-section h2 {
  font-weight: 500;
  font-size: 30px;
}
.text-section p {
  font-size: 20px;
  font-weight: 300;
}
.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero-image-front {
  position: absolute;
  background-color: #ff788f;
  width: 300px;
  height: 300px;
  border-radius: 50% / 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}
.hero-image-front p {
}
.hero-image-back {
  background-color: #ff788f;
  width: 280px;
  height: 280px;
  transform: rotateZ(45deg);
  border-radius: 60px;
  transition: all 0.4s;
}
.hero-image-front:hover {
  scale: 0.9;
  border-radius: 60px;
}
.sign-section {
  display: flex;
  justify-content: start;
  align-items: center;
}
.sign-section button {
  margin-left: 5px;
  border: none;
  padding: 10px 15px;
  font-family: "Inter";
  background-color: #c6fb73;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.1s;
}

.sign-section button:hover {
  background-color: greenyellow;
  scale: 0.95;
}

.sign-section input {
  border: none;
  padding: 12px 15px;
  border-radius: 8px;
  width: 220px;
  outline: none;
  color: black;
  font-family: "Inter";
  font-weight: 550;
}
.sign-section input::placeholder {
  font-weight: 400;
}

.sign-section input:focus {
}
